/*Base styles*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 36%, 90%);
    color: hsl(210, 93%, 29%);
    text-align: center;
    font-family: 'Roboto Slab', Arial, serif;
    font-weight: 300;
}

h1 {
    margin: 32px;
}

#compliment-container {
    display: flex;
    justify-content: space-around;
    padding: 32px;
}

.compliment {
    background-color: hsl(212, 43%, 65%);
    flex-basis: 200px;
    color: white;
    padding: 32px;
}

.compliment p:before {
    content: open-quote;
}

.compliment p:after {
    content: close-quote;
}

.highlight {
    color: hsl(210, 93%, 19%);
    font-weight: 400;

    /*added by me*/
    position:relative;
}

footer {
    background-color: hsl(29, 100%, 47%);
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p:after {
    content: " \00a9";
}

.highlight[data-tooltip] {
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.highlight[data-tooltip]:after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 130%;
    left: -60%;
    background: hsl(29, 100%, 47%);
    padding: 5px 15px;
    color: hsl(100, 100%, 100%);
    border-radius: 7px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.5s ease;
}
.highlight[data-tooltip]:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid hsl(29, 100%, 47%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    transition: all 0.5s ease;
    opacity: 0;
    left: 30%;
    bottom: 90%;
}
.highlight[data-tooltip]:hover:after {
    bottom: 100%;
}
.highlight[data-tooltip]:hover:before {
    bottom: 70%;
}
.highlight[data-tooltip]:hover:after,
.highlight[data-tooltip]:hover:before {
    opacity: 1;
}



